* {
  /* margin-top: 5.5%; */

  box-sizing: border-box;
}

body {
  margin-top: 10%;
  background-image: linear-gradient(to right, slateblue, tomato);
}

#frame {
  /* margin-top: 10%; */
  padding: 0.5% 0.5%;
  margin: auto;
  /* border: rgb(99, 71, 255) solid; */
  width: 20%;
  height: 500px;
  background-color: yellowgreen;
  border-radius: 18px;
  justify-content: center;
}

#display,
#result {
  margin: auto;
  border-style: none;
  width: 100%;
  height: 15%;
  text-align: right;
  background-color: ivory;
}

#display {
  font-size: 150%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#result {
  font-size: 220%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 50px;
}

#numbers {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
}

.number:first-child {
  grid-column: 1 / span 2;
}

.number:last-child {
  grid-column: 3 / span 2;
}

.number {
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 220%;
  cursor: pointer;
  color: tomato;
  background: white;
}

.operation {
  background-color: slateblue;
}

#equal {
  background-color: rgb(238, 102, 238);
  color: white;
}

#clear-btn {
  background-color: aqua;
}

#delete-btn {
  background-color: palegreen;
}

@media (max-width: 500px) {
  #frame {
    width: 95.5%;
    height: 550px;
    padding: 1.5% 1.5%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  #frame {
    padding: 1% 1%;
    margin: auto;
    width: 50%;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  #frame {
    padding: 1% 1%;
    margin: auto;
    width: 30%;
  }
}
